@use "../../base/mixins";
@use "../../base/variables";

.partner-marquee {
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
  }

&__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    max-height: 192px;
  }
  &__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@include mixins.respond-to(variables.$lg){
  .partner-marquee__slide{
    max-height: 104px;
    max-width: 148px;
  }
  .home .section__title{
    padding-bottom: 40px;
  }
}

@include mixins.respond-to(variables.$xs){
  .home .section-brands .slider-progress {
    margin-top: 0;
  }
}