{% extends "layouts/base.njk" %}

{% block title %}Товари — {{ siteName }}{% endblock %}

{% block main_class %}page page-products{% endblock %}

{% block content %}
    <div class="container">
        {% from "macros/breadcrumbs.njk" import render_breadcrumbs as breadcrumbs with context %}
        {{ breadcrumbs ([
            {title: "Товари"}
        ]) }}
    </div>
    <section class="section-products">
        <div class="container">
            <h2 class="section__title section__title_sm">КАтегорії товарів</h2>
            {% set categories = [
                {
                    title: "Сервірування та фуршет",
                    img:"images/content/category-card/cat-1.png",
                    url: "page-catalog.html",
                    items: [
                    { title: "Серветниці", url: "page-catalog.html" },
                    { title: "Ємності для спецій", url: "page-catalog.html" },
                    { title: "Кошики, хлібниці та фруктівниці", url: "page-catalog.html" },
                    { title: "Цукорниці та маслянки", url: "page-catalog.html" },
                    { title: "Вази та підсвічники", url: "page-catalog.html" },
                    { title: "Тортівниці та сервірувальні підставки", url: "page-catalog.html" },
                    { title: "Глечики, графіни та диспенсери для напоїв", url: "page-catalog.html" },
                    { title: "Настільні лампи", url: "#" },
                    { title: "Дошки, камені та сланці", url: "#" },
                    { title: "Підноси для сервірування та подачі", url: "#" },
                    { title: "Аксесуари для фуршету", url: "#" }
                ]
                },
                {
                    title: "Скляний та барний посуд",
                    img:"images/content/category-card/cat-2.png",
                    url: "page-catalog.html",
                    items: [
                    { title: "Келихи для вина", url: "page-catelog.html" },
                    { title: "Келихи для шампанського", url: "#" },
                    { title: "Келихи для пива", url: "#" },
                    { title: "Келихи для коньяку, бренді та граппи", url: "#" },
                    { title: "Келихи для коктейлів", url: "#" },
                    { title: "Склянки для віскі", url: "#" },
                    { title: "Чарки та стопки", url: "#" },
                    { title: "Графіни та декантери", url: "#" },
                    { title: "Склянки та келихи для води", url: "#" }
                ]
                },
                {
                    title: "Барний інвентар",
                    img:"images/content/category-card/cat-3.png",
                    url: "page-catalog.html",
                    items: [
                    { title: "Кулери та відерця", url: "#" },
                    { title: "Штопори та відкривачки", url: "#" },
                    { title: "Барні аксесуари", url: "#" },
                    { title: "Органайзери та барні ящики", url: "#" },
                    { title: "Шейкери, стрейнери та мадлери", url: "#" },
                    { title: "Барні ложки", url: "#" },
                    { title: "Гейзери та джигери", url: "#" },
                    { title: "Мірний посуд", url: "#" }
                ]
                },
                {
                    title: "Кухонний посуд",
                    img:"images/content/category-card/cat-4.png",
                    url: "page-catalog.html",
                    items: [
                    { title: "Каструлі", url: "#" },
                    { title: "Сковороди", url: "#" },
                    { title: "Сотейники, казани та ковші", url: "#" },
                    { title: "Миски", url: "#" },
                    { title: "Гастроємності та контейнери для зберігання", url: "#" },
                    { title: "Деко та форми для запікання", url: "#" }
                ]
                },
                {
                    title: "Текстиль",
                    img:"images/content/category-card/cat-1.png",
                    url: "#",
                    items: [
                    { title: "Плейсмати та ранери", url: "#" },
                    { title: "Скатертини та серветки", url: "#" },
                    { title: "Рушники та прихватки", url: "#" },
                    { title: "Кітелі", url: "#" }
                ]
                },
                {
                    title: "Еко посуд",
                    img:"images/content/category-card/cat-1.png",
                    url: "#",
                    items: [

                ]
                },
                {
                    title: "Обладнання",
                    img:"images/content/category-card/cat-1.png",
                    url: "#",
                    items: [

                ]
                },
                {
                    title: "Молекулярна кухня",
                    img:"images/content/category-card/cat-1.png",
                    url: "#",
                    items: [

                ]
                },
                {
                    title: "Кухонний інвентар та аксесуари",
                    img:"images/content/category-card/cat-1.png",
                    url: "#",
                    items: [
                    { title: "Професійні ножі", url: "#" },
                    { title: "Ручний інструмент", url: "#" },
                    { title: "Дошки для нарізання", url: "#" },
                    { title: "Терки, друшляки  та миски", url: "#" }
                ]
                },
                {
                    title: "Столовий посуд",
                    img:"images/content/category-card/cat-1.png",
                    url: "#",
                    items: [
                    { title: "Тарілки плоскі", url: "#" },
                    { title: "Тарілки глибокі", url: "#" },
                    { title: "Салатники та боули", url: "#" },
                    { title: "Посуд для подачі та сервірування", url: "#" },
                    { title: "Чашки, кухлі та блюдця", url: "#" },
                    { title: "Чайники та цукорниці", url: "#" },
                    { title: "Кавники та молочники", url: "#" }
                ]
                },
                {
                    title: "Столові прибори",
                    img:"images/content/category-card/cat-1.png",
                    url: "#",
                    items: [
                    { title: "Виделки", url: "page-catalog.html" },
                    { title: " Ложки", url: "page-catalog.html" },
                    { title: "Ножі", url: "page-catalog.html" },
                    { title: "Палички для їжі", url: "page-catalog.html" },
                    { title: "Підставки під прибори", url: "page-catalog.html" },
                    { title: "Набори столових приборів", url: "page-catalog.html" },
                    { title: "Стейкові прибори", url: "#" },
                    { title: "Органайзери для столових приборів", url: "#" },
                    { title: "Прибори для морепродуктів та делікатесів", url: "#" },
                    { title: "Сервірувальні прибори", url: "#" }
                ]
                }
            ] %}
            <ul class="cat-products-list">
                {% for category in categories %}
                    {% include "partials/card-category.njk" %}
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}