@use "../base/mixins";
@use "../base/variables";

.breadcrumbs {
  padding: 40px 0 52px;
  font-family: variables.$main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  vertical-align: middle;
  color: #78560C;

  &__list {
    display: flex;
  }
  &__item{
    padding-right: 8px;
    padding-left: 8px;
    margin-right: 7px;
    position: relative;
    &:after{
      position: absolute;
      content: '';
      width: 7px;
      height: 14px;
      background-image: url(../images/icons/chevron-right.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: block;
      right: 0;
      top: 50%;
      transform: translate(100%, -50%);
    }
    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      padding-right: 0;
      margin-right: 0;
      white-space: nowrap;
      &:after{
        display: none;
      }
    }
  }
}

@include mixins.respond-to(variables.$xs){
  .breadcrumbs__item:last-child{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
  }
}