@use "../base/mixins";
@use "../base/variables";

.card-post {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #191001;

  &__thumb {
    display: block;
    position: relative;
    padding-top: 84%;
    overflow: hidden;
    &:hover{
      .card-post__img{
        transform: scale(1.05);
      }
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    object-fit: cover;
    z-index: 1;
    transition: .35s;
  }

  &__content {
    padding: 38px 8px 0 8px;
  }

  &__date {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 1px;
    color: #78560C;
    margin-bottom: 16px;
  }

  &__title {
    font-family: variables.$secondary-font;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #191001;
    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}