@use "../base/mixins";
@use "../base/variables";

.counter-wrap {
  background-color: #ECE8D8;
  padding: 30px 38px;
  margin-bottom: 138px;
}
.values-list{
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding: 44px 61px;
  border: 1px solid #FEFEFC;
}

.counter__item{
  max-width: 267px;
  width: 30%;
  font-size: 18px;
  letter-spacing:0;
  min-height: 128px;
  line-height: 28px;
}
.counter__number{
  font-family: variables.$secondary-font;
  font-size: 77px;
  letter-spacing: 0;
  color: #78560C;
  line-height: 45px;
  padding-bottom: 24px;
}
