@use "../base/mixins";
@use "../base/variables";

.h-search {
  padding-top: 100px;
  padding-bottom: 50px;
  border-radius: 0 0 10px 10px;
  background-color: #ffffff;
  border: 0.85px solid rgba(120, 86, 12, 0.15);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: -1;

  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: .35s;

  &.is-open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    z-index: 200;
  }

  .search-submit {
    font-size: 20px;
  }

  .btn_close {
    position: absolute;
    right: 70px;
    top: -60px;
  }

  .container {
    position: relative;
  }

}

.search {
  display: flex;
  align-items: baseline;
  padding-top: 40px;
  padding-bottom: 18px;
  width: 100%;
  gap: 20px;

  &__input-group {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  &__input {
    display: block;
    width: auto;
    flex-grow: 1;
    border: none;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.04;
  }
}

.search-form {
  ::placeholder {
    font-weight: 200;
    font-size: 20px;
    color: #78560C;
  }
}

input[type="search"]::-webkit-search-cancel-button {
  filter: invert(36%) sepia(87%) saturate(464%) hue-rotate(5deg) brightness(89%) contrast(92%);
  margin-right: 15px;
}

.search-block {
  border-bottom: 2px solid #F0F2F1;
  padding: 24px 0;
  width: 100%;
}

.sidebar_overlay,
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: .35s;
  z-index: -1;
  pointer-events: none;
  opacity: 0;

  &.is-visible {
    z-index: 160;
    pointer-events: auto;
    opacity: 1;
  }
}

.sidebar_overlay.is-visible {
  z-index: 560;
}

@include mixins.respond-to(variables.$md) {
  .h-search .btn_close {
    right: 46px;
  }
}

@include mixins.respond-to(variables.$sm) {
  .h-search .btn_close {
    right: 26px;
  }
}