@use "../base/mixins";
@use "../base/variables";

.js-tabs__panel {
  display: none;

  .slider-progress {
    margin-bottom: 64px;
  }

  .splide__arrows {
    top: 4px;
  }
}

.js-tabs__panel.is-active {
  display: block;
}

.tabs__nav {
  display: flex;
  gap: 24px;
  padding-bottom: 64px;
}

.js-tabs__tab {
  padding: 8px;
  border: 0;
  background: none;
  cursor: pointer;
  color: #B2B2B2;
  font-family: variables.$secondary-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;

}

.js-tabs__tab.is-active {
  color: #78560C;
}


.products-tabs__slider {
  .card-product {
    padding: 12px 23px;
    text-align: center;
    width: 234px;

    &__title {
      font-family: variables.$secondary-font;
      font-weight: 600;
      font-size: 15px;
      line-height: 130%;
      letter-spacing: 0.73px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 11px;
    }

    &__badge {
      left: 23px;
      top: 12px;
    }

    &__sub-title {
      font-size: 11px;
      font-weight: 500;
      letter-spacing: 0.73px;
      margin-bottom: 12px;
    }

    &__cost {
      font-size: 14px;
    }

    &__cost_new {
      font-size: 15px;
    }
  }
}

@include mixins.respond-to(variables.$lg) {
  .tabs__nav {
    padding-bottom: 44px;
  }
  .js-tabs__panel .slider-progress {
    margin-bottom: 44px;
  }
}

@include mixins.respond-to(variables.$sm) {
  .tabs__nav {
    gap: 0;
    flex-wrap: wrap;
  }
}

@include mixins.respond-to(variables.$xs) {
  .splide__list .card-post__content {
    padding-top: 24px;
  }
  .tabs__nav {
    padding-bottom: 32px;
  }
  .js-tabs__panel .slider-progress {
    margin-bottom: 25px;
  }
}