{% macro cartItem(item) %}
    <div class="cart-item">
        <div class="cart-item__image">
            <img src="{{ item.image | default('img/placeholder.jpg') }}" alt="{{ item.name }}" width="90" height="90">
        </div>
        <div class="cart-item__info">
            <h4 class="cart-item__name">{{ item.name }}</h4>
            <div class="cart-item__price">{{ item.price }} ₴</div>
        </div>
        <div class="cart-item__controls">
            <div class="quantity-picker">
                <button type="button" class="qty-btn qty-btn_minus" aria-label="Зменшити"></button>
                <input type="number" name="quantity" class="qty-input" value="1" min="1" step="1">
                <button type="button" class="qty-btn qty-btn_plus" aria-label="Збільшити"></button>
            </div>
            <button type="button" class="btn cart-item__remove" aria-label="Видалити товар">
                <img src="images/icons/trash.svg" alt="" width="24" height="24">
            </button>
        </div>
    </div>
{% endmacro %}
