<header class="header">
    <div class="container">
        <button class="btn btn_burger" aria-label="Menu">
            <img src="images/icons/burger.svg" alt="">
        </button>
        <a href="index.html" class="header__logo">
            <img src="images/content/art-plate-logo.svg" alt="Art Plate" class="header__logo" width="127" height="84">
        </a>
        <nav class="header__nav">
            <button type="button" class="btn btn_close" aria-label="Закрити меню">
                <img src="images/icons/close.svg" alt="">
            </button>
            <ul class="menu">
                <li class="menu__item active"><a href="index.html">Головна</a></li>
                <li class="menu__item"><a href="page-products.html">Товари</a></li>
                <li class="menu__item"><a href="page-gifts.html">На подарунок</a></li>
                <li class="menu__item"><a href="page-brands.html">Бренди та каталоги</a></li>
                <li class="menu__item"><a href="page-sale.html">SALE</a></li>
                <li class="menu__item"><a href="page-about.html">Про нас</a></li>
                <li class="menu__item"><a href="page-blog.html">Новини</a></li>
                <li class="menu__item"><a href="page-contacts.html">Контакти</a></li>
            </ul>
            <div class="underline"></div>
        </nav>

        <button type="button" class="header__search  js-open-search" aria-label="Пошук">
            <img src="images/icons/search.svg" alt="Лупа пошуку">
        </button>
        <button type="button" class="header__cart" aria-label="Відкрити корзину">
            <img src="images/icons/cart.svg" alt="Корзина">
            <span class="header__cart-count">2</span>
        </button>
    </div>
    <div class="overlay"></div>

    <div class="h-search">
        <div class="h-search__container">
            <div class="container">
                <button type="button" class="btn btn_close js-close-search" aria-label="Закрити пошук">
                    <img src="images/icons/close.svg" alt="">
                </button>
                <form action="#" method="get" class="search-block search-form">
                    <div class="search__input-group">
                        <input type="search" name="s" class="search__input" placeholder="Пошук товару" required>
                        <button type="submit" class="btn btn_primary search-submit">Шукати</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>

