@use "../base/mixins";
@use "../base/variables";

.section-about {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0;

  &__title {
    font-family: variables.$main-font;
    font-weight: 300;
    line-height: 58.71px;
    letter-spacing: 0;
    color: #000;
  }
}

.about {
  display: flex;
  padding-bottom: 62px;

  &__tagline {
    font-size: 45px;
    line-height: 1.3;
    letter-spacing: 0;
    width: 54.88%;
    flex-shrink: 0;
  }

  &__text {
    padding-left: 20px;
    font-size: 20px;
    line-height: 1.6;
  }
}

.company-values {
  padding-bottom: 100px;

  &__row {
    display: flex;
    align-items: center;
    padding: 46px 0;
    border-bottom: 1px solid rgb(168, 168, 167, .4);
  }

  &__title {
    position: relative;
    width: 54.88%;
    flex-shrink: 0;
    padding-left: 24px;

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      background-color: #78560C;
      border-radius: 3px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.section-advantages {
  background-color: #F7F4E9;
  padding: 74px 0;
}

.advantages {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 8px;
  color: #78560C;

  &__item {
    padding: 46px 36px;
    text-align: center;
    border: 1px solid rgba(120, 86, 12, 0.3);
    border-radius: 13px;
  }

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.44;
    letter-spacing: 0;
    margin-bottom: 16px;
  }
}

.section-why-choose {
  padding: 134px 0;

  .title_md {
    font-weight: 300;
    letter-spacing: 0;
    margin-bottom: 48px;
  }

  ul {
    font-size: 20px;
    line-height: 1.875;

    li {
      border-bottom: 1px solid rgba(168, 168, 167, 0.4);
      position: relative;
      margin-bottom: 16px;
      padding: 12px 12px 12px 30px;

      &:before {
        content: ' ';
        display: block;
        background-color: #78560C;
        position: absolute;
        width: 10px;
        height: 10px;
        left: 0;
        top: 29px;
        border-radius: 3px;

      }
    }
  }
}

.page-about .page-banner{
  margin-bottom: 138px;
}

@include mixins.respond-to(variables.$xl) {
  .about__tagline {
    font-size: 40px;
  }
  .section-why-choose .title_md {
    font-size: 40px;
  }
}

@include mixins.respond-to(variables.$lg) {
  .page-about .page-banner{
    margin-bottom: 110px;
  }
  .company-values__row {
    padding: 40px 0;
  }
  .section-why-choose {
    padding: 110px 0;
  }
}

@include mixins.respond-to(variables.$md) {
  .about__tagline {
    font-size: 35px;
  }
  .section-about {
    font-size: 18px;
  }
  .advantages {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .section-why-choose .title_md {
    font-size: 35px;
  }
}

@include mixins.respond-to(variables.$sm) {
  .about {
    display: block;
  }
  .about {
    &__tagline {
      padding: 0;
      margin-bottom: 32px;
      width: 100%;
    }
  }
  .about__text {
    width: 100%;
    padding: 0;
  }
  .company-values__row {
    padding: 26px 0;
  }
  .section-about {
    font-size: 16px;
  }
  .section-why-choose ul  {
    font-size: 22px;
  }
}

@include mixins.respond-to(variables.$xs) {
  .page-about .page-banner{
    margin-bottom: 60px;
  }
  .about {
    padding-bottom: 60px;
    &__text{
      font-size: 16px;
      line-height: 2;
    }
  }
  .about__tagline {
    font-size: 30px;
  }
  .company-values__row {
    display: block;
    padding-top: 0;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .company-values {
    border: none;
    padding-bottom: 60px;
    &__title {
      font-size: 22px;
      margin-bottom: 16px;
    }
  }
  .advantages {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    &__item{
      line-height: 1.6;
    }
  }
  .section-advantages {
    padding: 60px 0;
  }
  .section-why-choose {
    padding: 60px 0;
  }
  .section-about {
    line-height: 2;
  }
  .section-why-choose {
    padding: 60px 0;

    ul {
      font-size: 18px;
      line-height: 1.6;
    }
     .title_md {
      font-size: 30px;
       margin-bottom: 24px;
    }
  }
  .section-why-choose ul li:before {
    top: 20px;
  }
}