@use "../base/mixins";
@use "../base/variables";

// page-brand-products

.section-intro {
  background-color: #F7F4E9;
  margin-bottom: 60px;
  .section__header {
    display: flex;
    padding-bottom: 158px;
    align-items: center;
  }
  .btn_orange{
    margin-left: auto;
  }
  .wrap-icon-brand{
    max-width: 169px;
    padding-bottom: 24px;
  }
  .icon-brand{
    width: 100%;
    height: auto;
  }
  .part-left{
    width: 75%;
  }
  .part-right{
    display: flex;
    width: 25%;
  }
  .page-description{
    padding-bottom: 58px;
  }
}

@include mixins.respond-to(variables.$lg){
  .section-intro .section__header {
    padding-bottom: 100px;
  }
  .section-intro .part-right {
    width: 30%;
    text-align: right;
  }
}
@include mixins.respond-to(variables.$sm){
  .section-intro .section__header {
    display: block;
  }
  .section-intro .part-left,
  .section-intro .part-right{
    width: 100%;
  }
  .section-intro .part-left{
    margin-bottom: 32px;
  }
}
@include mixins.respond-to(variables.$xs){
  .section-intro .section__header {
    padding-bottom: 60px;
  }
}
