@use "../base/mixins";
@use "../base/variables";

.page-products{

}
.section-products{
  padding-bottom: 104px;
}
.cat-products-list{
  display: grid;
  gap: 48px 20px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}