@use "../base/mixins";
@use "../base/variables";
// Footer
.footer {
  color: #78560C;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  background-color: #ECE8D8;
  padding: 86px 0;

  .container {
    display: flex;
  }

  &__logo {
    max-width: 291px;
    display: inline-block;
    padding-right: 16px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__part-left {
    width: 30%;
  }

  &__menu {
    li {
      margin-bottom: 16px;
    }

    a {
      display: inline-block;
    }
  }

  &__contacts {
    a {
      display: inline-block;
      padding: 0;
      color: inherit;
      margin-bottom: 16px;
    }
  }

  &-grid {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .social-list {
    display: flex;
    gap: 8px;
    padding-top: 24px;

    li a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      margin: 0;
      color: #191001;
      transition: .35s;

      &:hover,
      &:focus {
        color: #78560C;
        transform: scale(1.15);

      }

      svg {
        display: inline-block;
        width: 100%;
        height: auto;
      }
    }
  }
}

@include mixins.respond-to(variables.$xl) {
  .footer {
    font-size: 14px;

    &__logo {
      max-width: 260px;
    }
  }
}

@include mixins.respond-to(variables.$md) {
  .footer {
    font-size: 16px;
    padding: 52px 0;

    .container {
      flex-wrap: wrap;
    }

    &__logo {
      padding-right: 0;
      padding-bottom: 32px;
    }

    &__part {
      width: 100%;
    }
  }
}

@include mixins.respond-to(variables.$sm) {
  .footer-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
  }
  .footer__contacts {
    grid-area: 2 / 1 / 3 / 3;
  }
  .footer {
    padding-top: 0;
    padding-left: 34px;
    padding-right: 34px;

    &__part-left {
      text-align: center;
    }

    &__logo {
      max-width: 291px;
    }
  }
}

@include mixins.respond-to(variables.$xs) {
  .footer-grid {
    display: block;
  }
  .footer-column {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen  and (max-width: 380px){
  .footer{
    padding-left: 16px;
    padding-right: 16px;
  }
}