// Header
@use "../base/mixins";
@use "../base/variables";

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 1px solid #78560C;
  background-color: #FEFEFC;
  z-index: 500;

  &__nav {
    position: relative;
    padding: 22px 0;
    margin-left: auto;
    margin-right: auto;
  }

  &__logo {
    max-width: 127px;
    display: block;

    img {
      width: 100%;
      height: auto;
    }
  }

  .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: #78560C;
    width: var(--width, 0px);
    transform: translateX(var(--left, 0px));
    transition: transform 0.3s ease, width 0.3s ease;
    pointer-events: none;
    border-radius: 4px 4px 0 0;
    z-index: 1;
  }

  .container {
    display: flex;
    align-items: center;
  }
}

.header__cart {
  position: relative;
  margin-left: 16px;
}

.header__cart,
.header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  padding: 0;

  img {
    display: inline-block;
    width: 100%;
    height: auto;
    transition: .35s;
  }

  &:hover,
  &:focus {
    img {
      transform: scale(1.15);
    }
  }
}

.header__cart-count {
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  pointer-events: none;
  z-index: 1;
}

.btn_close {
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  padding: 1px;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.catalog__sidebar .btn_close,
.btn_burger,
.header__nav .btn_close {
  display: none!important;
}
@include mixins.respond-to(variables.$xl){
  .header__logo{
    max-width: 110px;
  }
  .header__nav{
    padding: 0;
  }
  .header{
    padding: 16px 0;
  }
}
@media screen and (max-width: 1080px) {
  .header__nav {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    height: 100vh;
    padding: 60px;
    max-width: 580px;
    width: 100%;
    z-index: 1000;
    transform: translateX(-100%);
    transition: .35s;
    &.is_open{
      transform: translateX(0);
    }
    .btn_close{
      display: block!important;
      position: absolute;
      right: 30px;
      top: 30px;
      margin-right: 25px;
    }
  }

  .btn_burger{
    display:block!important;
    width: 24px;
    height: 24px;
    background-color: transparent;
    padding: 0;
    margin-right: 25px;
    img{
      width: 100%;
      height: auto;
    }
  }
  .header__search{
    margin-left: auto;
  }

}

