<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--зaкрыть индексацию -->
    <meta name="googlebot" content="noindex, nofollow">
    <meta name="robots" content="noindex">
    <meta name="yandex" content="none">

    {% set siteName = "Art plate" %}
    <title>{% block title %}{{ siteName }}{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300..700&family=Inter:opsz,wght@14..32,100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">

    {% block head %}{% endblock %}
</head>
<body>
<div class="wrapper">
    {% block header %}
        {% include "partials/header.njk" %}
    {% endblock %}

    <main class="main {% block main_class %}{% endblock %}">
        {% block content %}{% endblock %}
    </main>

    {% block footer %}
        {% include "partials/footer.njk" %}
    {% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.5.3/dist/js/splide-extension-auto-scroll.min.js"></script>
<script src="js/app.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>